

.header.logo img{
    width:250px;
    display: block;
    margin-left: auto;
    margin- right: auto;
}
.header.banner{
    margin-top: 25px;
    width: 100%;
}
.header nav ul{
    justify-content: space-around;
    display: flex;
    background-color: lightgrey ;
    padding:10px;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style: none:
}